html,
body {
  height: 100%;
}
body,
h1 {
  margin: 0;
  font-family: Arial, sans-serif;
}
h1 {
  margin: 10px 0;
  color: #2559AA;
}
#main-menu li {
  display: inline-block;
  list-style: none;
}
#main-menu li a {
  text-decoration: none;
}
#main-menu-buttons li {
  list-style: none;
  margin: 1em 0;
}
#main-menu-buttons li a {
  text-decoration: none;
  background-color: #72B845;
  padding: .25em;
  border: solid 1px;
  border-radius: 3px;
  color: white;
  margin-right: .5em;
  width: 10%;
}
#main-menu-buttons li a:hover {
  background-color: #82d865;
}
body {
  margin: 0 1em;
}
body a {
  display: inline;
}
body #data-target {
  border: double;
  padding: 1em;
  display: block;
  width: 80%;
}
body #data-target + p {
  display: none;
}
body #data-target:empty {
  display: none;
}
body #data-target:empty + p {
  color: red;
  display: block;
}
body #data-target div {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  color: #37A0F4;
  text-transform: capitalize;
}
body #data-target div.faretype {
  margin-left: 1em;
}
body #data-target div.farevalue {
  margin-left: 2em;
}
body #data-target div.discount {
  margin-left: 3em;
}
body #data-target div:hover span.editor {
  display: inline;
}
body #data-target div span.editor {
  font-size: .5em;
  display: none;
  border: 1px solid;
  border-radius: 3px;
  vertical-align: middle;
  margin-left: 5px;
}
body #data-target div span.editor:hover {
  color: red;
  cursor: pointer;
}
body form,
body #main-menu-buttons {
  background-color: #37A0F4;
  color: white;
  padding: 1em;
  width: 80%;
  display: block;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body form input,
body #main-menu-buttons input,
body form button,
body #main-menu-buttons button {
  margin: 0 1em;
  padding: .25em;
}
body form button,
body #main-menu-buttons button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #72B845;
  outline: none;
  border: solid 1px;
  border-radius: 3px;
  color: white;
}
body form button:hover,
body #main-menu-buttons button:hover {
  background-color: #82d865;
}
